.sidebar {
  width: 100px;
  min-width: 100px;
  padding: 20px 20px;
  /* margin: 20px auto 0 auto; */
  box-shadow: 0 0 6px hsl(210 14% 90%);
  position: sticky;
  overflow: auto;
  height: 100%;
}

#noneScrollBar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  width: 0;
  height: 0;
}

#noneScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
